.wc-block-order-confirmation-totals table .wc-item-meta li,
.wc-block-components-product-details__vlastn-potisk {
	display: flex;
	gap: 10px;
	align-items: center;
}

.potiskarium-design-preview {
	display: flex;
	gap: 10px;
	align-items: center;
}
