/*
	PREVIEW
 */

.custom-upload-wrapper {
	margin-bottom: 1rem;
}

.custom-upload-wrapper img {
	cursor: pointer;
}

.custom-upload-wrapper label {
	margin: 0 !important;
}

.custom-upload-wrapper,
.wc-block-order-confirmation-totals table .wc-item-meta li,
.wc-block-components-product-details__vlastn-potisk {
	display: flex;
	gap: 10px;
	align-items: center;
}

/*
	DESIGNER
 */

#potiskarium_designer.designer-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.75);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

#potiskarium_designer .designer-wrapper {
	background: white;
	padding: 20px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: 1rem;
}

#potiskarium_designer h2,
#potiskarium_designer h3 {
	padding: 0;
	margin: 0;
	text-align: center;
}

#potiskarium_designer h3 {
	font-size: 120%;
	font-weight: bold;
}

#potiskarium_designer .designer-body {
	display: flex;
	gap: 1rem;
	min-height: 0;
}

#potiskarium_designer .designer-custom-image,
#potiskarium_designer .designer-preview-image {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	min-height: 0;
}

#potiskarium_designer .designer-custom-image-wrapper,
#potiskarium_designer .designer-preview-image-wrapper {
	min-height: 0;
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px dashed black;
	padding: 10px;
}

#potiskarium_designer .designer-custom-image img,
#potiskarium_designer .designer-preview-image img {
	max-width: 100%;
	max-height: 100%;
}

#potiskarium_designer .designer-footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.potiskarium-design-preview {
	display: flex;
	gap: 10px;
	align-items: center;
}

.potiskarium-design-preview .custom-image-wrapper {
	max-width: 100px;
	height: 50px;
}

.potiskarium-design-preview .custom-image-wrapper img {
	max-width: 100%;
	max-height: 100%;
}

/* Small devices (landscape phones) */
@media (max-height: 558.98px) or (max-width: 700.98px) {

	.custom-upload-wrapper {
		flex-direction: column;
		align-items: start;
	}

	#potiskarium_designer .designer-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		justify-content: space-between;
		padding: 10px;
		gap: 10px;
	}

	#potiskarium_designer .designer-body {
		flex: 1;
		align-items: stretch;
	}

	#potiskarium_designer h2,
	#potiskarium_designer h3 {
		font-size: 75%;
		font-weight: bold;
	}

	#potiskarium_designer h2 {
		font-size: 85%;
	}

	#potiskarium_designer .designer-custom-image,
	#potiskarium_designer .designer-preview-image {
		flex: 1;
	}

	#potiskarium_designer .designer-custom-image-wrapper,
	#potiskarium_designer .designer-preview-image-wrapper {
		max-width: 100%;
		width: auto;
		max-height: 100%;
		height: auto;
		flex: 1;
		padding: 0;
	}
}

/* Small devices (potrait phones) */
@media (max-width: 400.98px) {

	#potiskarium_designer .designer-body {
		flex-direction: column;
	}

}
