/*
	PREVIEW
 */

.custom-upload-wrapper {
	margin-bottom: 1rem;
}

.custom-upload-wrapper img {
	cursor: pointer;
}

.custom-upload-wrapper label {
	margin: 0 !important;
}

.custom-upload-wrapper,
.potiskarium-design-preview,
.wc-block-order-confirmation-totals table .wc-item-meta li,
.wc-block-components-product-details__vlastn-potisk {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: wrap;
}

.potiskarium-design-preview .custom-image-wrapper,
.potiskarium-design-preview .preview-image-wrapper {
	max-width: 100px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.potiskarium-design-preview .custom-image-wrapper img,
.potiskarium-design-preview .preview-image-wrapper img {
	max-width: 100%;
	max-height: 100%;
}

/*
	DESIGNER
 */

#potiskarium_designer.designer-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	z-index: 9999;
}

#potiskarium_designer .designer-window {
	background: white;
	margin: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;
}

#potiskarium_designer .designer-header {
	display: flex;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

#potiskarium_designer .designer-header h1 {
	font-size: 135%;
	font-weight: bold;
	flex-grow: 1;
	margin: 0;
	padding-bottom: 2px;
}

#potiskarium_designer .designer-close {
	cursor: pointer;
}

#potiskarium_designer iframe {
	flex-grow: 1;
	border: none;
}

/* Small devices (landscape phones) */
@media (max-height: 558.98px) or (max-width: 700.98px) {

	.custom-upload-wrapper {
		flex-direction: column;
		align-items: start;
	}

	#potiskarium_designer .designer-window {
		margin: 0;
		border-radius: 0;
	}

	#potiskarium_designer iframe {
		flex: 1;
		align-items: stretch;
	}

}

/* Small devices (potrait phones) */
@media (max-width: 400.98px) {


}
